# spacetime settings — edit or use the pause menu
vsync=0
fullscreen=0
width=1920
height=1080
quality=3
brightness=100
mouse_sens=100
bind.forward=KeyW
bind.back=KeyS
bind.left=KeyA
bind.right=KeyD
bind.jump=Space
bind.sprint=ShiftLeft
bind.sit=KeyC
bind.interact=KeyE
bind.attack=KeyQ
bind.inventory=Tab
bind.drop=KeyG
bind.craft=KeyR
bind.transfer=KeyT
bind.take=KeyY
bind.recipe_prev=BracketLeft
bind.recipe_next=BracketRight
